.wrapper {
  position: relative;
  height: 500px;
  transition: width 0.2s ease 0.1s;
}
.projectCard {
  right: 0;
  width: 100%;
  position: absolute;
  background-color: #DFEBED;
  cursor: pointer;
}

.projectCard .description {
  width: 240px;
  margin-top: 50px;
  margin-inline: auto;
}
.description h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.description p {
  text-align: center;
  position: relative;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.projectCard:hover .description p, .projectCard:focus .description p {
  opacity: 1;
}

