.ablaufSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 150px;
  border-bottom: 5px solid #4A8692;
}
.ablaufSection h2 {
  font-size: 3em;
  font-weight: 400;
  color: #B2AC98;
}